body{
    background-image: gradient(yellow,blue) ;
    
    
}

div{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: repeating-conic-gradient(red 10%,yellow 20%);
    border-radius: 50%;

}